.card {
    display: flex;
    place-content: center;
    width: 100px;
    height: 139px;
    background-color: #dada65;
    border-radius: 13px;
    border: 1px solid black;
}

.card img {
    width: 90%;
}

.disabled {
    pointer-events: none;
}

.cardBack {
    width: 100px;
    padding: 1px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.cardBack:hover {
    transform: scale(1.03);
}
